<p id="notice"><%= notice %></p>

<p>
  <strong>Flavour:</strong>
  <%= @cupcake.flavour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @cupcake.price %>
</p>

<%= link_to 'Edit', edit_cupcake_path(@cupcake) %> |
<%= link_to 'Back', cupcakes_path %>
